/* Style the table */

#outer{
    background-color: #404040;
}

#tablediv{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: cursive;
}

table {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 5%;
    margin-right: 10% ;
  }
  
  /* Style table header */
  th {
    background-color: #000000;
    border: 1px solid #ccc;
    padding: 8px;
    color: white;
    text-align: left;
  }
  
  /* Style table rows */
  tr {
    border: 1px solid #b0b0b0;
  }
  
  /* Style table cells */
  td {
    padding: 8px;
  }
  
  /* Style even rows with a background color */
  tr:nth-child(even) {
    background-color: #282828;
    color: white;
  }
  
  tr:nth-child(odd) {
    background-color: #404040;
    color: white;
  }

  .hard{
    color: red;
  }

  .easy{
    color: green;
  }

  .medium{
    color: burlywood;
    
  }

  #button{
    padding: 2%;
    margin: 2%;
    padding-left: 9%;
  }

  #button button{
    padding: 1%;
    color :white;
    background-color: #282828;
    margin: 5px;
  }